*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
}
.main{
  height: 200vh;
  background: #2f2d3f;
}

.hero{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 20px 0;
  background: #2f2d3f;
  overflow: hidden;
}
.hero .main_area{
 min-width: 500px;
 display: flex;
 justify-content: center;
 align-items: center;
 flex-direction: column;
 gap:20px;
 background: #282639;
 padding-bottom: 20px;

}

.hero .main_area .planet_heading{
 display: flex;
 justify-content: center;
 align-items: center;
 width: 100%;
 color: white;
 text-transform: capitalize;
 font-size: 1.7rem;
 font-weight: 700;
 padding: 20px 0;
 background:linear-gradient(to left, #ff7b7b,#ff6868);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.hero .main_area .planet_info{
 display: flex;
 justify-content: space-around;
 align-items: center;
 padding: 20px 0;
 background: #3a384c;
 width: 90%;
 border-radius: 9px;
 color: #9494A4;
 text-transform: uppercase;
}
.hero .main_area .planet_info .planet_text,#empty_text{
  font-size: 1.3rem;
 color: #9494A4;
 text-transform: uppercase;
}

.hero .main_area .planet_info .planet_btn,#planet_clear{
 border: none;
 background: transparent;
 border: 1px solid #c25c62;
 color: #c25c62;
 padding:5px 20px;
 border-radius: 30px;
 transition: 0.5s;
 outline: none;
}
.hero .main_area .planet_info .planet_btn:hover,#planet_clear :hover{
transform: scale(1.2);
}
